<?xml version="1.0"?>
<configuration>

    <location path="AdditionalCost.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="AverageCost.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="AvgPalletsPieces.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="AvgUnloadTimePerVendor.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="BadPallets.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="BusinessSummary.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Dashboard.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Default.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="LoadsDetails.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="LoadsOverTwo.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="LoadsSummary.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="OntimeDeliver.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="PalletsPiecesManHour.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="RestackPallets.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="UnloadTimePerLoad.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>

</configuration>

