<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FolderPath" value="Upload" />
    <add key="SessionTimeOut" value="60" />
  <add key="Telerik.Skin" value="Default" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Enabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled" />
  </appSettings>
  <connectionStrings>
    <add name="rtdsConnectionString" connectionString="Data Source=reports.div-log.com;Initial Catalog=RTDS;Persist Security Info=True;User ID=RTDS;Password=southeast1" providerName="System.Data.SqlClient" />
    <add name="DivLogHRConnectionString" connectionString="Data Source=reports.div-log.com;Initial Catalog=Div-Log_HR;Persist Security Info=True;User ID=RTDS;Password=southeast1" providerName="System.Data.SqlClient" />
    <add name="zipCodeConnectionString" connectionString="Data Source=reports.div-log.com;Initial Catalog=usZipCodes;Persist Security Info=True;User ID=rtds;Password=southeast1" providerName="System.Data.SqlClient" />
    <add name="rtdsConnectionStringdev" connectionString="Data Source=RANDYDEV;Initial Catalog=RTDS;Persist Security Info=True;User ID=sa;Password=southeast1" providerName="System.Data.SqlClient" />
    <add name="rtdsConnectionString_BU" connectionString="Data Source=reports.div-log.com;Initial Catalog=RTDS_BU;Persist Security Info=True;User ID=rtds;Password=southeast1" providerName="System.Data.SqlClient" />
    <add name="DivLogHRConnectionStringDEV" connectionString="Data Source=real.realwebs.com\MSSQLSERVER08r2,1435;Initial Catalog=Div-Log_HR;Persist Security Info=True;User ID=RTDS;Password=southeast1" providerName="System.Data.SqlClient" />
    <add name="SEUreports.My.MySettings.RTDS" connectionString="Data Source=reports.div-log.com;Initial Catalog=RTDS;Persist Security Info=True;User ID=rtds;Password=southeast1" providerName="System.Data.SqlClient" />
    <add name="SEUreports.My.MySettings.SEUSQL" connectionString="Data Source=reports.div-log.com;Initial Catalog=RTDS;Persist Security Info=True;User ID=rtds;Password=southeast1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="admin/ScheduledLoadImporter.aspx">
    <system.web>
      <httpRuntime executionTimeout="3000" maxRequestLength="104856" />
    </system.web>
  </location>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator, Supervisor, Manager, Employee, SysOp, Client, Vendor, Carrier, Guest" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="homepg.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator, Supervisor, Manager, Employee, SysOp" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <membership defaultProvider="DivLogMembershipProvider">
      <providers>
        <add name="DivLogMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="rtdsConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="DiversifiedLogistics" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DivLogRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="DivLogRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="DiversifiedLogistics" connectionStringName="rtdsConnectionString" />
      </providers>
    </roleManager>
    <profile defaultProvider="DivLogProfileProvider">
      <providers>
        <add name="DivLogProfileProvider" connectionStringName="rtdsConnectionString" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
    </profile>
    <!-- 
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
    -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Newtonsoft.Json, Version=4.5.0.0, Culture=neutral, PublicKeyToken=30AD4FE6B2A6AEED" />
        <add assembly="Telerik.ReportViewer.Html5.WebForms, Version=11.2.17.1025, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
        <add assembly="Telerik.Reporting, Version=11.2.17.1025, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
        <add assembly="Telerik.ReportViewer.WebForms, Version=11.2.17.1025, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms slidingExpiration="true" timeout="60" loginUrl="~/signin.aspx" defaultUrl="~/Default.aspx" />
    </authentication>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="1513F567EE75F7FB5AC0AC4D79E1D9F25430E3E2F1BCDD3370BCFC4EFC97A541" validationKey="32CBA563F26041EE5B5FE9581076C40618DCC1218F5F447634EDE8624508A129" />
    <!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms" path="Telerik.ReportViewer.axd" verb="*" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="24576" executionTimeout="3000" targetFramework="4.5" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="609600" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <!-- 
    <mailSettings>
      <smtp>
        <network host="mail.realwebs.com" port="25" userName="system@realwebs.com" password="systempw" />
      </smtp>
    </mailSettings>
    -->
  </system.net>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <!--<remove name="RadCompression" />-->
      <remove name="RadCompression" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
      <!--<add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />-->
    </modules>
    <handlers accessPolicy="Read, Execute, Script">
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="Telerik.ReportViewer.axd_*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms" path="Telerik.ReportViewer.axd" verb="*" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="25165824" />
      </requestFiltering>
    </security>
  </system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Telerik.Windows.Zip" publicKeyToken="5803CFA389C90CE7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2017.2.607.40" newVersion="2017.2.607.40" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
