<?xml version="1.0"?>
<configuration>
    <location path="Reports.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="EmployeeLoadsHoursVsBusinessSummary.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client, Vendor, Carrier, Guest"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="DockActivity.aspx">
        <system.web>
            <authorization>
                <allow roles ="SysOp, Administrator, Manager, Supervisor, Client"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>


</configuration>
