<?xml version="1.0"?>
<configuration>
    <location path="editProfile.aspx">
        <system.web>
            <authorization>
                <allow roles ="Administrator, Supervisor, Manager, SysOp, Employee"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="MyWork.aspx">
        <system.web>
            <authorization>
                <allow roles ="Administrator, Supervisor, Manager, SysOp, Employee"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>

</configuration>
