<?xml version = "1.0"?>
<configuration>
	<location path="AddEditAdditionalCompensation.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="AddEditTimePunche.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="addVendor.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="BackhaulAdjustments.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="BackhaulInbound.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager, Supervisor" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="ChangeEmployment.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="ClearNoShowScheduledLoads.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager, Supervisor" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="ClientUserAdmin.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="DepartmentsList.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="DivLogEmployee.vb">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="DockMonitors.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager, Supervisor" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="editCerts.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
  <location path="eMailPictures.aspx">
    <system.web>
      <authorization>
        <allow roles = "SysOp, Administrator, Manager" />
        <deny users = "*" />
      </authorization>
    </system.web>
  </location>
  <location path="EmployeeManager.aspx">
			<system.web>
				<authorization>
					<allow roles = "SysOp, Administrator, Manager" />
					<deny users = "*" />
				</authorization>
			</system.web>
	</location>
	<location path="Employees.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
  <location path="EmploymentApplicationCompanies.aspx">
    <system.web>
      <authorization>
        <allow roles = "SysOp, Administrator, Manager" />
        <deny users = "*" />
      </authorization>
    </system.web> 
  </location>
  <location path="EmploymentApplicationForm.aspx">
    <system.web>
      <authorization>
        <allow roles = "SysOp, Administrator, Manager" />
        <deny users = "*" />
      </authorization>
    </system.web>
  </location>
  <location path="EmploymentApplications.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
		</location>
  <location path="EmploymentManager.aspx">
    <system.web>
      <authorization>
        <allow roles = "SysOp, Administrator" />
        <deny users = "*" />
      </authorization>
    </system.web>
  </location>
  <location path="FixDates.aspx">
    <system.web>
      <authorization>
        <allow roles = "SysOp" />
        <deny users = "*" />
      </authorization>
    </system.web>
  </location>
  <location path="JobDescriptionList.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator" />
				<deny users = "*" />
			</authorization>
		</system.web>
		</location>
	<location path="JobTitleList.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator" />
				<deny users = "*" />
			</authorization>
		</system.web>
		</location>
	<location path="LoadDescriptionList.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator" />
				<deny users = "*" />
			</authorization>
		</system.web>
		</location>
  <location path="LoadEditor.aspx">
    <system.web>
      <authorization>
        <allow roles = "SysOp, Manager, Supervisor, Administrator" />
        <deny users = "*" />
      </authorization>
    </system.web>
  </location>
  <location path="LoadEditorDataEntry.aspx">
    <system.web>
      <authorization>
        <allow roles = "Clerk" />
        <deny users = "*" />
      </authorization>
    </system.web>
  </location>
  <location path="LocaEditor.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
		</location>
	<location path="movie.mp4">
		<system.web>
			<authorization>
				<allow roles = "SysOp" />
				<deny users = "*" />
			</authorization>
		</system.web>
		</location>
	<location path="ParentCompanyList.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
		</location>
	<location path="PayrollReportAdmin.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
		</location>
	<location path="PayrollSummary.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="RequestTravelers.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
  <location path="ScheduledLoadImporter.aspx">
    <system.web>
      <authorization>
        <allow roles = "SysOp, Administrator, Manager, Supervisor, Clerk" />
        <deny users = "*" />
      </authorization>
    </system.web>
  </location>
  <location path="ScheduledLoadImporterSetup.aspx">
    <system.web>
      <authorization>
        <allow roles = "SysOp, Administrator" />
        <deny users = "*" />
      </authorization>
    </system.web>
  </location>
  <location path="ScheduledLoads.aspx">
    <system.web>
      <authorization>
        <allow roles = "SysOp, Administrator, Manager, Supervisor" />
        <deny users = "*" />
      </authorization>
    </system.web>
  </location>
  <location path="selectCarrier.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager, Supervisor" />
				<deny users = "*" />
			</authorization>
		</system.web>
		</location>
  <location path="selectUnloaders.aspx">
    <system.web>
      <authorization>
        <allow roles = "SysOp, Administrator, Manager, Supervisor" />
        <deny users = "*" />
      </authorization>
    </system.web>
  </location>
  <location path="seuFTPImportConfig.aspx">
    <system.web>
      <authorization>
        <allow roles = "SysOp, Administrator" />
        <deny users = "*" />
      </authorization>
    </system.web>
  </location>

  <location path="showWO.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager, Supervisor" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	
  <location path="sql2005admin.docx">
		<system.web>
			<authorization>
				<allow roles = "SysOp " />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	
  <location path="superSpecialHoliday.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>

<location path="svcsRendered.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
</location>

<location path="TAD.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>

  <location path="TimeCards.aspx">
    <system.web>
      <authorization>
        <allow roles = "SysOp, Administrator, Manager" />
        <deny users = "*" />
      </authorization>
    </system.web>
  </location>
  <location path="Travelers,aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="TravelPayCheck.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator, Manager" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="UserAdmin.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator " />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
	<location path="ViewAudit.aspx">
		<system.web>
			<authorization>
				<allow roles = "SysOp, Administrator" />
				<deny users = "*" />
			</authorization>
		</system.web>
	</location>
</configuration>